:root {
  --white-text-color: rgb(255, 255, 255);
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-text-color: rgba(33, 150, 243, 1);
  --main-bg-color: rgb(255, 255, 255);
  --section-bg-color: rgba(245, 244, 250, 1);
  --footer-bg-color: rgb(47, 48, 58);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Null style */
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

* {
  list-style: none;
  text-decoration: none;
}

/* Typography main */
.site-nav__link, .contact-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .site-nav__link, .contact-nav__link {
    font-size: 20px;
  }
}

.contact-nav__link {
  color: var(--primary-text-color);
}

.hero__title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.hero__button {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__label {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__input--comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input--comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input--comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__submit-button {
  color: var(--white-text-color);
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.checkbox__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
}

.checkbox__text--link {
  color: var(--accent-text-color);
  text-decoration: underline;
}

@media screen and (max-width: 1199px) {
  .checkbox__text {
    font-size: 12px;
  }
}

.features__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title, .works__title, .team__title, .clients__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .title, .works__title, .team__title, .clients__title {
    font-size: 28px;
    line-height: 1.17;
  }
}

.overlay__title {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__desc {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.adress__text {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress__text:first-child {
  color: var(--white-text-color);
}

.social-media__title, .subscribe__title {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subscribe__input {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__button {
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-left: 12px;
}

/* Typography portfolio */
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.works__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.works__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* General */
body {
  background-color: var(--main-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

/* Container */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--block {
  display: block;
}

/* Header */
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__logo {
  padding: 28px 0px;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Site-nav */
@media screen and (max-width: 767px) {
  .site-nav__item {
    text-align: center;
  }
  .site-nav__item:last-of-type {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 84px;
  }
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 0;
    margin-left: 93px;
  }
}

.site-nav__link, .contact-nav__link {
  padding-top: 32px;
  position: relative;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .site-nav__link, .contact-nav__link {
    padding-bottom: 32px;
  }
}

.site-nav__link:hover, .contact-nav__link:hover {
  color: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
  .site-nav__link--active {
    color: var(--accent-text-color);
    padding-bottom: 10px;
  }
}

.site-nav__link--active::after {
  display: block;
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

/* Contact-nav */
.contact-nav {
  margin-left: auto;
}

.contact-nav__item {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact-nav__item + .contact-nav__item {
    padding-top: 32px;
  }
  .contact-nav__item:last-of-type {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contact-nav__item {
    text-align: left;
  }
  .contact-nav__item:last-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-nav__item:last-child {
    margin-top: 0;
    margin-left: 30px;
  }
}

.contact-nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.contact-nav__link:hover {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1200px) {
  .contact-nav__link {
    padding: 32px 0px;
  }
}

.contact-nav__icon {
  margin-right: 10px;
  -webkit-transition: fill 250ms ease-in-out;
  transition: fill 250ms ease-in-out;
  fill: var(--primary-text-color);
}

.contact-nav__icon--mail {
  width: 16px;
  height: 12px;
}

.contact-nav__icon--phone {
  width: 10px;
  height: 16px;
}

.contact-nav__link:hover .contact-nav__icon {
  fill: var(--accent-text-color);
}

/* Mobile-menu */
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    height: 400px;
    padding: 20px;
    background-color: var(--section-bg-color);
    z-index: 1;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
  }
  .menu-button.is-open .menu__icon--close {
    display: block;
  }
  .menu-button.is-open .menu__icon--open {
    display: none;
  }
  .menu-button:hover .menu__icon {
    fill: var(--accent-text-color);
  }
}

.menu-button .menu__icon {
  -webkit-transition: fill 250ms ease-in-out;
  transition: fill 250ms ease-in-out;
}

.menu-button .menu__icon--close {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

/* Hero */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 320px;
  width: 100%;
  height: 600px;
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/hero/hero1600@1x.webp);
}

@media screen and (max-width: 1199px) {
  .hero {
    height: 400px;
    background-image: url(../images/hero/hero768@1x.webp);
  }
}

@media screen and (max-width: 480px) {
  .hero {
    height: 400px;
    background-image: url(../images/hero/hero480@1x.webp);
  }
}

.hero__title {
  margin-bottom: 30px;
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.hero__button:hover {
  cursor: pointer;
  background-color: #188ce8;
}

/* Backdrop */
.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 1199px) {
  .backdrop {
    padding: 0px 15px;
  }
}

/* Modal */
.modal {
  position: relative;
  width: 450px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

/* CLose modal btn */
.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transition: fill 200ms ease-in-out;
  transition: fill 200ms ease-in-out;
}

.modal__close-button:hover {
  cursor: pointer;
  fill: #2196f3;
}

.modal__icon-close-button {
  width: 11px;
  height: 11px;
}

/* Form */
.form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__field:last-of-type {
  margin-bottom: 0px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form__input--comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.form__input:focus {
  border-color: #2196f3;
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.form__input:focus::-webkit-input-placeholder {
  color: #2196f3;
}

.form__input:focus:-ms-input-placeholder {
  color: #2196f3;
}

.form__input:focus::-ms-input-placeholder {
  color: #2196f3;
}

.form__input:focus::placeholder {
  color: #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__icon--person {
  width: 12px;
  height: 12px;
}

.form__icon--phone {
  width: 13px;
  height: 13px;
}

.form__icon--email {
  width: 15px;
  height: 12px;
}

.form__submit-button {
  min-width: 200px;
  min-height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--accent-text-color);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.form__submit-button:hover {
  cursor: pointer;
  background: #188ce8;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.checkbox__input:checked + .checkbox__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/other-icons/checkbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.checkbox__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Features */
.features__subtitle {
  text-align: center;
  margin-bottom: 10px;
}

.features__list {
  margin: 60px 0px;
}

.features__item {
  width: 100%;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__item::before {
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  margin-bottom: 30px;
}

.features__item--antenna::before {
  background-image: url(../images/about/antenna.svg);
}

.features__item--clock::before {
  background-image: url(../images/about/clock.svg);
}

.features__item--diagram::before {
  background-image: url(../images/about/diagram.svg);
}

.features__item--astronaut::before {
  background-image: url(../images/about/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: left;
  }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .features__item {
    width: 354px;
  }
  .features__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

/* Works */
@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works__title {
  margin-bottom: 50px;
  text-align: center;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 94px;
}

.works__item {
  width: 370px;
  position: relative;
  overflow: hidden;
  height: 294px;
}

.works__item:hover .overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

/* Overlay */
.overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 0;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: opacity 350ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: opacity 350ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 350ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 350ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

/* Team */
.team {
  background-color: var(--section-bg-color);
  min-width: 320px;
}

.team__title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-bottom: 94px;
}

.team__item {
  width: 100%;
  padding-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
  }
  .team__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__photo {
  width: 100%;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__desc {
  margin-bottom: 16px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: transparent;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-icons__icon:not(:last-child) {
  margin-right: 10px;
}

.social-icons__icon:hover {
  background: var(--accent-text-color);
}

.social-icons__icon:hover .fa {
  color: var(--white-text-color);
}

.social-icons__icon .fa {
  font-size: 24px;
  color: #afb1b8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Cients */
.clients__title {
  text-align: center;
  padding-top: 60px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0px 60px;
}

.clients__item:hover .clients__icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients__icon {
  display: block;
  width: 210px;
  height: 92px;
  border: #afb1b8 1px solid;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 479px) {
  .clients__item:not(:last-child) {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients__icon {
    width: 210px;
  }
  .clients__item:not(:nth-of-type(2n)) {
    padding-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 2)) {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .clients__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .clients__icon {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .clients__icon {
    width: 170px;
  }
}

/* Footer */
.footer {
  background-color: var(--footer-bg-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__item {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 60px;
}

.footer__item-group {
  width: 100%;
}

.footer__item-group:last-child .footer__item {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__item-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__item {
    width: auto;
  }
}

/* Adress */
.adress__text {
  margin-top: 9px;
}

.adress__text:first-child {
  margin-top: 20px;
}

/* Social media */
.social-media__title, .subscribe__title {
  margin-bottom: 20px;
}

.social-media .fa {
  font-size: 24px;
}

.social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-media__icon:hover {
  background-color: #2196f3;
}

.social-media__item + .social-media__item {
  margin-left: 10px;
}

/* Mailing */
.subscribe__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  outline: none;
}

.subscribe__input:focus {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  margin: 0;
  background: #2196f3;
  border-radius: 4px;
  border: none;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.subscribe__button:after {
  width: 24px;
  height: 24px;
  content: '';
  background-image: url(../images/other-icons/send.svg);
  background-size: contain;
  margin-left: 10px;
}

.subscribe__button:hover {
  cursor: pointer;
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__item-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__item-group:last-child {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__item {
    text-align: left;
    margin: 0px;
  }
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscribe__input {
    width: auto;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=main.css.map */