/* Container */
.container {
	display: flex;
	align-items: center;

	width: 1200px;

	padding-left: 15px;
	padding-right: 15px;

	margin-left: auto;
	margin-right: auto;
}

.container--block {
	display: block;
}
